@import'../utils/typographie.scss';

header {
    position: relative;
    display: flex;
    max-width: 1240px;
    min-width: 240px;
    height: 90px;

    .container-nav {
        position: relative;
        display: flex;
        height: auto;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        border-radius: 10px 10px 0 0;
        background: rgb(31, 31, 46);
        background: linear-gradient(143deg, rgba(31, 31, 46, 1) 24%, rgba(56, 56, 66, 1) 73%);
        box-shadow: 10px 15px 60px #141414;

        nav {
            display: flex;
            padding: 0 20px;

            ul,
            li {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 10px;
                gap: 20px;

            }

            a {
                text-decoration: none;
                list-style: none;
                position: relative;
                color: white;
                transition: 0.3s;
                margin: 0 6px;
                z-index: 1;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 600;
            }

            a::before {
                content: '';
                position: absolute;
                bottom: -6px;
                left: 0;
                width: 100%;
                height: 3px;
                background: #76d5fa;
                border-radius: 2px;
                opacity: 0;
                transition: 0.3s;
            }

            a:not(.is-active):hover {
                color: #8b36c7f4;
            }

            a:not(.is-active):hover::before {
                opacity: 1;
            }
        }

        //burger responsive à partir de 768px
        .burger {
            font-size: 1.2rem;
            padding: 10px;

            border: none;
            border-radius: 0.4rem;
            cursor: pointer;
            text-transform: uppercase;
            background: rgb(255, 0, 134);
            background: linear-gradient(143deg, rgba(255, 0, 134, 1) 15%, rgba(163, 76, 174, 1) 62%, rgba(17, 196, 238, 0.9556197478991597) 84%);
            color: #ffffff;
            font-weight: 700;
            transition: 0.6s;
            box-shadow: 0px 0px 60px #1f4c65;
            // -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
        }

        .burger:active {
           scale: 0.92; 
        }

    }
}




@media screen and (max-width:768px) {
    header {
        .container-responsive-ul {
            position: absolute;
            top: 90px;
            background: linear-gradient(143deg, rgba(79, 79, 136, 1) 43%, rgba(30, 163, 218, 1) 100%);
            height: auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 0 10px 10px;

            .burger {
                width: 35px;
                height: auto;
            }

            .menu-list {
                max-width: 150px;
                display: flex;
                flex-direction: row;

                a:not(.is-active):hover {
                    color: $color-hover-menu
                }
            }
        }
    }

}

@media screen and (max-width:425px) {
    header {
        li {

            a {
                font-size: 12px;
            }
        }
    }
}