$color-text: #ffffff;
$color-background-burger: #ffffff;
$color-hover-menu:#403427;
$color-icons-reseaux:#40352b;
$color-presentation-paragraphe:#dcfffe;



$police-text-titrenumero2:'Dancing Script', cursive;
$police-caveat-titre:'Caveat', cursive;
$police-yellowtail-paragraphe:'Yellowtail', cursive;



